# Preparación del Entorno

- La solución inicial, a pesar de aparentemente estar bien el resumen de cantidad de clases, parece no estar bien la primer solución en el Zulip (según https://dmeyf2023.zulip.rebelare.com/#narrow/stream/412-CazaTalentos/topic/Enunciado/near/48562, el kaggle público debería ser 40.27)
- Voy a probar un código basado en este posteo <https://dmeyf2023.zulip.rebelare.com/#narrow/stream/401-Code/topic/calculo.20de.20clase_ternaria.20en.20R.20con.20TV.20y.20data.2Etable/near/48079> a ver si da bien , y luego lo voy revisando

## Importación de Librerías

In [1]:
library(data.table)

In [2]:
# cargo las librerias que necesito
require("data.table")
require("rpart")
require("rpart.plot")

Loading required package: rpart

Loading required package: rpart.plot

## Importación del archivo

In [3]:
# Aqui se debe poner la carpeta de la materia de SU computadora local
setwd("C:/Users/German/Desktop/dmeyf2023/German/Clase 1") # Establezco el Working Directory

# Resolución del problema

## Etiquetado del target

In [4]:
dt <- data.table::fread(file="competencia_01_crudo.csv", header = T)

str(dt)

#1.Cálculo de la variable "clase_ternaria" como el valor máimo de foto_mes del cliente menos el valor minimo (ej, 3 meses = 2; 2 meses = 1; 1 mes = 0)
#2.De ahí, sólo los que tienen el menor valor de foto_mes y al valor de clase ternaria se reemplaza con "CONTINUA". Si es igual a la diferencia máxima entre los valores de foto_mes, o en caso contrario con el valor "BAJA+" +  la direrencia + 1

target <- dt[, list(foto_mes, clase_ternaria = (max(foto_mes) - min(foto_mes))), by = c("numero_de_cliente")][foto_mes == min(foto_mes), c(list(numero_de_cliente = numero_de_cliente),
                                                                                                                                           lapply(.SD, function(x){
                                                                                                                                             ifelse(x == (max(dt[, unique(foto_mes)]) - min(dt[, unique(foto_mes)])), "Continua", paste0("BAJA+", (x+1)))
                                                                                                                                           })),
                                                                                                              .SDcols = c("clase_ternaria")]

competencia_01 <- merge(dt, target, by = "numero_de_cliente", all.x = TRUE)

Classes 'data.table' and 'data.frame':	491063 obs. of  154 variables:
 $ numero_de_cliente                   : int  29183981 29184630 29185433 29185587 29185646 29187499 29188277 29188490 29188883 29189950 ...
 $ foto_mes                            : int  202103 202103 202103 202103 202103 202103 202103 202103 202103 202103 ...
 $ active_quarter                      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ cliente_vip                         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ internet                            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ cliente_edad                        : int  50 59 68 79 60 71 67 45 66 59 ...
 $ cliente_antiguedad                  : int  197 322 268 322 257 375 322 307 322 266 ...
 $ mrentabilidad                       : num  14469 11902 847 4977 2860 ...
 $ mrentabilidad_annual                : num  125765 74159 21672 47736 37801 ...
 $ mcomisiones                         : num  2390 18751 482 1839 4035 ...
 $ mactivos_margen                     : num  7751 -8624 -1100 -437 -9570 ...
 $ mpasivos_margen                     : num  2546 2785 1412 3112 8568 ...
 $ cproductos                          : int  8 9 8 9 8 9 5 13 9 7 ...
 $ tcuentas                            : int  1 1 1 1 1 1 1 1 1 1 ...
 $ ccuenta_corriente                   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ mcuenta_corriente_adicional         : num  0 0 0 0 0 0 0 0 0 0 ...
 $ mcuenta_corriente                   : num  0 124185 0 0 0 ...
 $ ccaja_ahorro                        : int  2 2 2 2 2 2 2 2 3 2 ...
 $ mcaja_ahorro                        : num  57964 4263 107054 229146 478500 ...
 $ mcaja_ahorro_adicional              : num  0 0 0 0 0 ...
 $ mcaja_ahorro_dolares                : num  1178744 0 0 4317327 43213 ...
 $ cdescubierto_preacordado            : int  1 1 1 1 1 1 1 1 1 1 ...
 $ mcuentas_saldo                      : num  1329345 100893 107054 4609610 196359 ...
 $ ctarjeta_debito                     : int  1 2 2 3 3 1 4 3 2 1 ...
 $ ctarjeta_debito_transacciones       : int  6 0 0 0 59 0 0 25 0 0 ...
 $ mautoservicio                       : num  2498 0 0 0 169112 ...
 $ ctarjeta_visa                       : int  1 1 1 1 1 1 1 1 1 1 ...
 $ ctarjeta_visa_transacciones         : int  92 8 4 15 33 4 3 69 1 25 ...
 $ mtarjeta_visa_consumo               : num  126929 50988 4604 41708 380437 ...
 $ ctarjeta_master                     : int  1 1 0 1 1 1 0 1 1 1 ...
 $ ctarjeta_master_transacciones       : int  20 7 0 0 0 0 0 17 0 14 ...
 $ mtarjeta_master_consumo             : num  24070 56055 0 0 0 ...
 $ cprestamos_personales               : int  0 0 0 0 0 0 0 8 0 0 ...
 $ mprestamos_personales               : num  0 0 0 0 0 ...
 $ cprestamos_prendarios               : int  0 0 0 0 0 0 0 0 0 0 ...
 $ mprestamos_prendarios               : num  0 0 0 0 0 0 0 0 0 0 ...
 $ cprestamos_hipotecarios             : int  0 0 0 0 0 0 0 1 0 0 ...
 $ mprestamos_hipotecarios             : num  0 0 0 0 0 ...
 $ cplazo_fijo                         : int  0 0 0 0 1 0 0 0 0 0 ...
 $ mplazo_fijo_dolares                 : num  0 0 0 0 1407600 ...
 $ mplazo_fijo_pesos                   : num  0 0 0 0 0 0 0 0 0 0 ...
 $ cinversion1                         : int  0 0 0 0 0 0 0 1 0 0 ...
 $ minversion1_pesos                   : num  0 0 0 0 0 ...
 $ minversion1_dolares                 : num  0 0 0 0 0 0 0 0 0 0 ...
 $ cinversion2                         : int  1 0 0 0 0 0 0 0 0 0 ...
 $ minversion2                         : num  4064 0 0 0 0 ...
 $ cseguro_vida                        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ cseguro_auto                        : int  0 0 0 0 0 1 0 1 0 0 ...
 $ cseguro_vivienda                    : int  0 1 1 1 0 2 0 0 0 0 ...
 $ cseguro_accidentes_personales       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ccaja_seguridad                     : int  0 2 0 1 0 1 0 0 0 0 ...
 $ cpayroll_trx                        : int  1 0 0 0 2 0 0 1 0 0 ...
 $ mpayroll                            : num  151423 0 0 0 373782 ...
 $ mpayroll2                           : num  0 0 0 0 0 0 0 0 0 0 ...
 $ cpayroll2_trx                       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ccuenta_debitos_automaticos         : int  0 0 1 7 4 2 0 3 1 1 ...
 $ mcuenta_debitos_automaticos         : num  0 0 196 31388 28196 ...
 $ ctarjeta_visa_debitos_automaticos   : int  3 3 3 3 11 1 0 5 1 1 ...
 $ mttarjeta_visa_debitos_automaticos  : num  7069 23932 1651 7333 57242 ...
 $ ctarjeta_master_debitos_automaticos : int  3 7 0 0 0 0 0 1 0 2 ...
 $ mttarjeta_master_debitos_automaticos: num  11298 56055 0 0 0 ...
 $ cpagodeservicios                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ mpagodeservicios                    : num  0 0 0 0 0 0 0 0 0 0 ...
 $ cpagomiscuentas                     : int  2 0 0 1 2 7 0 10 6 2 ...
 $ mpagomiscuentas                     : num  12604 0 0 426 6043 ...
 $ ccajeros_propios_descuentos         : int  0 0 0 0 1 0 0 0 0 0 ...
 $ mcajeros_propios_descuentos         : num  0 0 0 0 3352 ...
 $ ctarjeta_visa_descuentos            : int  0 0 0 1 0 0 0 0 0 0 ...
 $ mtarjeta_visa_descuentos            : num  0 0 0 211 0 ...
 $ ctarjeta_master_descuentos          : int  0 0 0 0 0 0 0 1 0 0 ...
 $ mtarjeta_master_descuentos          : num  0 0 0 0 0 0 0 NA 0 0 ...
 $ ccomisiones_mantenimiento           : int  0 1 0 0 0 1 1 0 1 1 ...
 $ mcomisiones_mantenimiento           : num  0 2328 0 0 0 ...
 $ ccomisiones_otras                   : int  14 11 8 6 8 13 4 24 8 10 ...
 $ mcomisiones_otras                   : num  2390 18751 482 1839 4035 ...
 $ cforex                              : int  0 0 0 0 0 0 0 0 0 0 ...
 $ cforex_buy                          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ mforex_buy                          : num  0 0 0 0 0 0 0 0 0 0 ...
 $ cforex_sell                         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ mforex_sell                         : num  0 0 0 0 0 0 0 0 0 0 ...
 $ ctransferencias_recibidas           : int  2 1 0 0 4 4 1 6 1 0 ...
 $ mtransferencias_recibidas           : num  153182 28354 0 0 382697 ...
 $ ctransferencias_emitidas            : int  11 0 0 0 9 0 0 15 1 0 ...
 $ mtransferencias_emitidas            : num  75999 0 0 0 70491 ...
 $ cextraccion_autoservicio            : int  0 0 0 1 7 0 0 12 0 0 ...
 $ mextraccion_autoservicio            : num  0 0 0 1173 87975 ...
 $ ccheques_depositados                : int  0 3 0 0 0 0 0 0 0 0 ...
 $ mcheques_depositados                : num  0 175841 0 0 0 ...
 $ ccheques_emitidos                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ mcheques_emitidos                   : num  0 0 0 0 0 0 0 0 0 0 ...
 $ ccheques_depositados_rechazados     : int  0 1 0 0 0 0 0 0 0 0 ...
 $ mcheques_depositados_rechazados     : num  0 92019 0 0 0 ...
 $ ccheques_emitidos_rechazados        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ mcheques_emitidos_rechazados        : num  0 0 0 0 0 0 0 0 0 0 ...
 $ tcallcenter                         : int  1 0 0 0 0 0 0 0 0 0 ...
 $ ccallcenter_transacciones           : int  1 0 0 0 0 0 0 0 0 0 ...
 $ thomebanking                        : int  1 1 1 1 1 0 1 1 1 1 ...
 $ chomebanking_transacciones          : int  83 10 31 141 143 6 5 224 110 58 ...
 $ ccajas_transacciones                : int  0 0 0 1 0 0 0 0 0 0 ...
  [list output truncated]
 - attr(*, ".internal.selfref")=<externalptr>

In [5]:
# Contar la cantidad de distintos campos agrupados en la columna "clase_ternaria"
count_clase <- competencia_01[, .N, by = clase_ternaria]
count_clase

  clase_ternaria N
1 Continua       483935
2 NA               4153
3 BAJA+1           1049
4 BAJA+2           1926

In [6]:
#Guardar archivo en la carpeta
data.table::fwrite(competencia_01, file="competencia_01_alternativo.csv")

In [7]:
#Extra, para el Zulip: cuántos sólo en 202103

# Filtrar el DataFrame para obtener solo los registros con fecha_mes igual a 202103
subset_dataset <- competencia_01[foto_mes %in% 202103]

# Contar en este subset
count_clase <- subset_dataset[, .N, by = clase_ternaria]
count_clase

  clase_ternaria N
1 Continua       161312
2 BAJA+1           1049
3 BAJA+2            963