In [1]:
import pandas as pd

# Cargar los datos
df = pd.read_csv("competencia_01_crudo.csv",)

In [13]:
# Calcular la variable "clase_ternaria"
def calcular_clase_ternaria(group):
    max_foto_mes = group.max()
    min_foto_mes = group.min()
    clase_ternaria = max_foto_mes - min_foto_mes
    return clase_ternaria

In [14]:
clase_ternaria_df = df.groupby('numero_de_cliente')['foto_mes'].agg(calcular_clase_ternaria).reset_index()

In [15]:
# Identificar el valor m√≠nimo de foto_mes y actualizar la columna "clase_ternaria"
min_foto_mes = df['foto_mes'].min()
max_clase_ternaria = clase_ternaria_df['foto_mes'].max()

In [16]:
clase_ternaria_df['clase_ternaria'] = clase_ternaria_df['foto_mes'].apply(
    lambda x: "CONTINUA" if x == max_clase_ternaria else f"BAJA+{x + 1}"
)

In [17]:
# Merge con el DataFrame original
competencia_01 = df.merge(clase_ternaria_df[['numero_de_cliente', 'clase_ternaria']], on='numero_de_cliente', how='left')

In [20]:
count_clase = competencia_01['clase_ternaria'].value_counts().reset_index()
count_clase.columns = ['clase_ternaria', 'count']

In [21]:
count_clase

  clase_ternaria   count
0       CONTINUA  483935
1         BAJA+2    4640
2         BAJA+1    2488